/.DT.java._trace
/.DT.xtendbin
/.EstadisticaJugador.java._trace
/.EstadisticaTorneo.java._trace
/.LigaMaster.java._trace
/.LigaMaster.xtendbin
/.Oferta.java._trace
/.Oferta.xtendbin
/.Partido.java._trace
/.Partido.xtendbin
/.Torneo.java._trace
/.Torneo.xtendbin
/DT.java
/EstadisticaJugador.java
/EstadisticaTorneo.java
/LigaMaster.java
/Oferta.java
/Partido.java
/Torneo.java
/.EstadisticaFairPlay.java._trace
/.Jugador.java._trace
/.Jugador.xtendbin
/.Transferencia.xtendbin
/EstadisticaFairPlay.java
/Jugador.java
