/.AbstractLabeledWidget.java._trace
/.AbstractLabeledWidget.xtendbin
/.LabeledTextBox.java._trace
/.LabeledTextBox.xtendbin
/AbstractLabeledWidget.java
/LabeledTextBox.java
/.LabeledNumericField.java._trace
/.LabeledNumericField.xtendbin
/.LabeledSelector.java._trace
/.LabeledSelector.xtendbin
/LabeledNumericField.java
/LabeledSelector.java
